.nav-bar {
    display: none;
}

div.logo {
    margin: 0 -4rem;
}

.nav-bar .nav-links {
    display: none;
    margin: 0 -5rem;
}

.nav-bar ul li a {
    display: block;
    width: 30vw;
    padding: 0.75rem;
}

.nav-bar a.hamburger {
    display: flex;
    margin: 0 -4rem;
    font-size: 1.7rem;
    color: #88949B;
}

.nav-bar a.hamburger:hover {
    color: #656b6e;
}

/* Hero Section */
div.hero-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.hero-section .hero-content-heading {
    margin-top: -6rem;
}

div.hero-section .hero-content-btn {
    margin-bottom: -6rem;
}

/* Sub-Hero Section */
.hero-background .background {
    margin: -4rem -4rem;
    height: auto;
}

.hero-background .hero-background-pos {
    display: none;
}

.snapshot-box .snapshot-box-content {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer .footer-input {
    display: flex;
    flex-direction: column;
}

.footer .footer-input > * {
    margin: 0.75rem 0;
    width: 75%;
}

.footer .footer-textarea > textarea,
.footer .footer-btn a {
    width: 75%;
}

.footer .footer-btn a {
    text-align: center;
}

input[type="text"] {
    width: 50%;
}